:root {
    --primary-color: #3E7BFA;
    --background-color: #1C1C28;
    --container-background-color: #28293D;
    --heading-color: #FAFAFC;
    --text-color: #C7C9D9;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-family: 'Inter', system-ui;
    line-height: 24px;
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    color: var(--heading-color);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}

h2 {
    color: var(--heading-color);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

a, a:visited {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    filter: brightness(120%);
}

.main-title {
    text-align: center;
}

.game-controls {
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    border: 0;
    margin: 0;
    width: 100px;
    color: var(--heading-color);
    font-size: 1.1rem;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 6px 14px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(120%);
    box-shadow: 1px 2px 4px 0 rgb(62 123 250 / 85%);
}

.button:active {
    filter: brightness(90%);
    box-shadow: none;
}

.game-controls__option {
    flex: 1 0 100px;
}

.game-results-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--container-background-color);
    padding: 20px 24px;
    border-radius: 18px;
    min-width: 320px;
    flex-grow: 1;
    overflow-y: auto;
}

.round-result {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #2C2D42;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.32);
    padding: 5px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.6s;
}

.round-result--visible {
    opacity: 1;
}

.round-result__element, .game-score__element {
    flex: 0 1 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.round-result__marker {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.game-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    background-color: var(--container-background-color);
    padding: 20px 24px;
    border-radius: 18px;
}

.game-match-results {
    background-color: #32334D;
    box-shadow: 2px 8px rgba(0, 0, 0, 0.08), 0 20px 32px rgba(0, 0, 0, 0.32);
    color: var(--heading-color);
    border: 0;
    border-radius: 8px;
    padding: 20px;
    width: 320px;
    min-height: 120px;
    max-width: 90vw;
    position: relative;
}

.game-match-results__close {
    border: 0;
    padding: 0;
    background-color: transparent;
    font-size: 1.5rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    transform: scaleY(0.8);
    cursor: pointer;
    user-select: none;
    color: var(--heading-color);
}

.game-match-results__close:hover {
    animation: 0.5s ease-in-out shake alternate-reverse;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
}

.game-match-results__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: stretch;
}

.game-match-results::backdrop {
    backdrop-filter: blur(4px);
}

.game-match-results__button {
    align-self: center;
}

.footer {
    padding-bottom: 20px;
}